#Week 5: Dynamic Programming 1

Integrantes:

- Kevin Jair Gonzalez Sanchez
- Sergio David Lopez Pardo
- Rodrigo Sierra Agredo

##5-1: Money Change Again

In [ ]:
%%writefile ex5_1.py

import sys

m = int(input())

d = [1, 3, 4]

minCoins = [0] + [sys.maxsize]*m

for i in range(1, m+1):
    for j in d:

        if i>=j:
            coins = minCoins[i-j]+1
            if coins < minCoins[i]:
                minCoins[i] = coins

print(minCoins[m])

Writing ex5_1.py

In [ ]:
!python ex5_1.py

2
2

In [ ]:
!python ex5_1.py

34
9

##5-2: Primitive Calculator

In [ ]:
%%writefile ex5_2.py

import sys

def function1(numo, n):
    for i in range(2, n+1):
        t1, t2, t3 = [sys.maxsize]*3

        t1 = numo[i-1] + 1 
        if i%2 == 0: t2 = numo[i//2] + 1
        if i%3 == 0: t3 = numo[i//3] + 1
        min_ops = min(t1, t2, t3)
        numo[i] = min_ops

    return numo[n]

n = int(input())

numo = [0, 0] + [sys.maxsize]*(n-1)

print(function1(numo, n))


nums = [n]
while n!=1:
    if n%3 ==0 and numo[n]-1 == numo[n//3]:
        nums += [n//3]
        n = n//3
    elif n%2 ==0 and numo[n]-1 == numo[n//2]:
        nums += [n//2]
        n = n//2
    else:
        nums += [n-1]
        n = n - 1

print(' '.join([str(i) for i in nums][::-1]))

Writing ex5_2.py

In [ ]:
!python ex5_2.py

1
0
1

In [ ]:
!python ex5_2.py

5
3
1 2 4 5

In [ ]:
!python ex5_2.py

96234
14
1 3 9 10 11 22 66 198 594 1782 5346 16038 16039 32078 96234

##5-3: Edit Distance

In [ ]:
%%writefile ex5_3.py

import numpy

s1 = input()
s2 = input()

ln_s1 = len(s1)
ln_s2 = len(s2)

Matrix = numpy.zeros((ln_s1+1 , ln_s2+1))
for i in range(ln_s2+1):
    Matrix[0][i] = i

for i in range(ln_s1+1):
    Matrix[i][0] = i

for i in range(1, ln_s1+1):
    for j in range(1, ln_s2+1):
        insertion = Matrix[i][j-1]   + 1
        deletion  = Matrix[i-1][j]   + 1
        mismatch  = Matrix[i-1][j-1] + 1
        match     = Matrix[i-1][j-1]
        if s1[i-1] == s2[j-1]:
            Matrix[i][j] = min(insertion, deletion, match)
        if s1[i-1] != s2[j-1]:
            Matrix[i][j] = min(insertion, deletion, mismatch)

edit_distance = int(Matrix[ln_s1][ln_s2])

print(edit_distance)

Writing ex5_3.py

In [ ]:
!python ex5_3.py

ab
ab
0

In [ ]:
!python ex5_3.py

short
ports
3

In [ ]:
!python ex5_3.py

editing
distance
5

##5-4: Longest Common Subsequence of Two Sequences

In [ ]:
%%writefile ex5_4.py

n = int(input())
a = list(map(int, input().split()))
m = int(input())
b = list(map(int, input().split()))

lsm = [[0 for i in range(m + 1)] for j in range(n + 1)]

for i in range(1, n+1):
    for j in range(1, m+1):
        if a[i-1] == b[j-1]:
            lsm[i][j] = lsm[i-1][j-1] + 1
        elif a[i-1] != b[j-1]:
            lsm[i][j] = max(lsm[i-1][j-1], lsm[i-1][j], lsm[i][j-1])

print(lsm[n][m])

Writing ex5_4.py

In [ ]:
!python ex5_4.py

3
2 7 5
2
2 5
2

In [ ]:
!python ex5_4.py

1
7
4
1 2 3 4
0

In [ ]:
!python ex5_4.py

4
2 7 8 3
4
5 2 8 7
2

##5-5: Longest Common Subsequence of Three Sequences

In [ ]:
%%writefile ex5_5.py

import sys

an = int(input())
a = list(map(int, input().split()))
bn = int(input())
b = list(map(int, input().split()))
cn = int(input())
c = list(map(int, input().split()))

T = [[[0]*(len(a)+1) for _ in range(len(b)+1)] for ex in range(len(c)+1)]
for i in range(1,len(a)+1):
    for j in range(1,len(b)+1):
        for k in range(1,len(c)+1):
            if a[i-1]==b[j-1]==c[k-1]:
                T[k][j][i] = T[k-1][j-1][i-1] + 1
            else :
                T[k][j][i] = max(T[k-1][j][i],T[k][j-1][i],T[k][j][i-1])

print(T[k][j][i])

Writing ex5_5.py

In [ ]:
!python ex5_5.py

3
1 2 3
3
2 1 3
3
1 3 5
2

In [ ]:
!python ex5_5.py

5
8 3 2 1 7
7
8 2 1 3 8 10 7
6
6 8 3 1 4 7
3